.Gif {
  width: 100%;
  position: relative;

  &:hover {
    .actions {
      opacity: 1;
      background: linear-gradient(180deg, rgba(23, 20, 31, 0), rgba(23, 20, 31, 0.5));
    }
  }
}

.image {
  max-width: 100%;
  min-width: 100%;
  position: relative;
}

.actions {
  width: 100%;
  position: absolute;
  padding: 20px 0;
  display: row;
  content-x: flex-end;
  opacity: 0;
  bottom: 0;
  z-index: 1;
  transition: opacity .12s;
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0));

  button {
    background: #6441a4;
    color: #ffffff;
    padding: 0 1rem;
    transition: background .12s ease-in,color .12s ease-in,box-shadow .12s ease-in;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 3rem;
    white-space: nowrap;
    cursor: pointer;
    font-family: inherit;
    margin-left: 10px;

    &:hover {
      background: #7d5bbe;
      text-decoration: none;
    }
  }
}

.bookmark-icon {
  cursor: not-allowed;
  margin-right: 24px;
  filter: drop-shadow(rgba(0, 0, 0, 0.75) 1px 1px 8px);
  transition: all 0.15s;
  opacity: 0.25;
  /* &:hover {
    filter: drop-shadow(3px 2px 16px rgba(0,0,0,1));
    transform: scale(1.07);
  } */
}

.send-icon {
  cursor: pointer;
  margin-right: 24px;
  filter: drop-shadow(rgba(0, 0, 0, 0.75) 1px 1px 8px);
  transition: all 0.15s;
  &:hover {
    filter: drop-shadow(3px 2px 16px rgba(0,0,0,1));
    transform: scale(1.07);
  }
}
