:global div[twiphy-mount-point] {
  border-left: 1px solid #dad8de;
  position: absolute;
  left: 100%;
  size: 100%;
  z-index: 20;
  box-shadow: $shadow0;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  &:hover {
    box-shadow: $shadow0-1;
  }
}

:global .twiphy-frame {
  size: 100%;
  background: #efeef1;
  position: relative;
  display: column;
  content-x: center;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

:global [twiphy-toggler] {
  width: 30px;
  height: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
