.SearchBar {
  display: row;
  content-x: center;
  size: 100% 35px;
  background: #ffffff;
}

.input {
  size: 100%;
  padding: 0 32px;
  outline: none;
  border: none;
  box-shadow: $shadow0;
  z-index: 10;

  &:focus {
    outline: none;
    border: none;
  }
}
