.SearchBar {
  display: row;
  content-x: center;
  content-y: center;
  size: 100% 35px;
  background: #ffffff;
  padding: 0 16px;
  box-shadow: $shadow0;
  z-index: 10;
}

.input {
  outline: none;
  border: none;
  size: 100%;
  &:focus {
    outline: none;
    border: none;
  }
}

.search-icon {
  opacity: 0.25;
  transform: rotateY(180deg);
}
